/* TODO: design your profile with CSS */


body {
  background-color: #F6F6F6;
}

div {
  background-color: white;
  border-radius: 4px;
  width: 60%;
  margin: 16px auto;
  padding: 32px;
  text-align: center;
}

img {
  border-radius: 50%;
  width: 20%;
}

h1 {
  color: #212121;
  font-family: 'Raleway', sans-serif;
}

h2 {
  color: #6D9886;
  font-family: 'Raleway', sans-serif;
}

p {
  color: #212121;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #6D9886;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  display: inline;
}

i {
  color: #212121;
  font-size: 48px;
  margin: 0 16px;
}

i:hover {
  color: #6D9886;
}

.btn-green {
  color: white;
  background-color: #6D9886;
  padding: 8px 16px;
  border-radius: 4px;
  margin-top: 48px;
  margin: 48px;
}

.btn-green:hover {
  background-color: #4a685b;
}

.margin-btm {
  margin-bottom: 32px;
}
